.container-inspiration {
  width: 100%;
  min-height: 700px;
}

.container-heading {
  display: flex;
  justify-content: center;
}

.container-heading > h1 {
  color: #272727;
  font-weight: 500;
  margin: 80px 0 60px;
}

.container-cards {
  display: flex;
  justify-content: space-evenly;
}

.card-inspiration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 260px;
  /*border: solid 1px gainsboro;*/
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin: 25px 0;
  padding: 20px;
  color: #272727;
}

.card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-header > h2 {
  color: #7D9B76;
  font-weight: 500;
}

.avatar {
  width: 100px;
  opacity: 0.8;
}

.inspiration-container-icons {
  display: flex;
  justify-content: center;
}

.inspiration-container-icons > a {
  text-decoration: none;
  color: gray;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 500;
}

.inspiration-container-icons > a:hover {
  text-decoration: underline;
}
