.categorySidebar {
  width: 170px;
  height: 550px;
  background-color: gainsboro;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 10px;
  margin: 50px 25px 0 0;
  padding: 25px 20px;
}

.searchbar {
  width: calc(100% - 20px);
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: solid 2px gray;
  background-color: #F6F6E9;
  font-family: 'Fira Sans', sans-serif;
}

.category-heading {
  color: #7D9B76;
  font-weight: 500;
}

.category-ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.category-ul > li {
  margin-bottom: 10px;
}

.category-ul > li > a {
  text-decoration: none;
  color: #272727;
  font-weight: 500;
}

.category-ul > li > a:hover {
  opacity: 0.3;
}
